# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
build/
Thumbs.db

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh
.pub-cache/

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/src/main/jniLibs/
/android/app/src/main/res/merged/
/android/app/src/main/res/stripped.ap_/
/android/app/build/
/android/build/
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/key.properties

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/Debug-iphoneos/
/ios/Flutter/Debug-iphonesimulator/
/ios/Flutter/Release-iphoneos/
/ios/Flutter/Release-iphonesimulator/
/ios/Flutter/ephemeral_plugin_symlinks/
/ios/Flutter/flutter_assets/
/ios/DerivedData/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/contents.xcworkspacedata
/ios/Runner.xcworkspace/xcshareddata/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcshareddata/
/ios/.symlinks/

# macOS
/macos/Flutter/ephemeral_plugin_symlinks/
/macos/Flutter/Flutter-Debug.xcconfig
/macos/Flutter/Flutter-Release.xcconfig
/macos/Pods/
/macos/DerivedData/
/macos/.symlinks/

# Linux
/linux/flutter/ephemeral_plugin_symlinks/
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugins.cmake
/linux/ephemeral

# Windows
/windows/flutter/ephemeral_plugin_symlinks/
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugins.cmake
/windows/ephemeral